extends ../layouts/default
block content
  // WRAPPER
  #wrapper
      // REVOLUTION SLIDER
      .fullwidthbanner-container.roundedcorners
          .fullwidthbanner
              ul
                  // SLIDE
                  li(data-transition='fade', data-slotamount='7', data-masterspeed='1000', data-delay='13000')
                      // MAIN IMAGE
                      img(src='/images/demo/revolution_slider/text_slider.jpg', alt='newslide2014_1', data-bgposition='center top', data-bgfit='cover', data-bgrepeat='no-repeat')
                      // LAYERS
                      // LAYER NR. 1
                      .tp-caption.finewide_large_white.customin.customout.tp-resizeme(data-x='center', data-hoffset='0', data-y='center', data-voffset='-40', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='500', data-easing='Power3.easeInOut', data-splitin='chars', data-splitout='chars', data-elementdelay='0.08', data-endelementdelay='0.08', data-end='4000', data-endspeed='500', style='z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;')
                          | Rumatec
                      // LAYER NR. 3
                      .tp-caption.finewide_medium_white.randomrotate.customout.tp-resizeme(data-x='center', data-hoffset='0', data-y='center', data-voffset='30', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='500', data-easing='Power3.easeInOut', data-splitin='chars', data-splitout='chars', data-elementdelay='0.08', data-endelementdelay='0.08', data-end='4000', data-endspeed='500', style='z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;')
                          | Innovations For an Evolving World
                      // LAYER NR. 4
                      .tp-caption.boldwide_small_white.customin.customout.tp-resizeme(data-x='240', data-y='120', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='300', data-start='5000', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.08', data-endelementdelay='0.08', data-endspeed='300', style='z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;')
                          strong Rumatec
                      // LAYER NR. 5
                      .tp-caption.whitedivider3px_vertical.customin.tp-resizeme(data-x='420', data-y='110', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='300', data-start='5500', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300', style='z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;')
                      // LAYER NR. 6
                      .tp-caption.finewide_small_white.randomrotate.customout.tp-resizeme(data-x='460', data-y='120', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='6400', data-easing='Power3.easeInOut', data-splitin='chars', data-splitout='chars', data-elementdelay='0.08', data-endelementdelay='0.08', data-endspeed='300', style='z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;')
                          | Simple.
                      // LAYER NR. 7
                      .tp-caption.finewide_small_white.customin.customout.tp-resizeme(data-x='460', data-y='160', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='7200', data-easing='Power3.easeInOut', data-splitin='words', data-splitout='words', data-elementdelay='0.12', data-endelementdelay='0.12', data-endspeed='300', style='z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;')
                          | Secure.
                      // LAYER NR. 8
                      .tp-caption.finewide_small_white.customin.customout.tp-resizeme(data-x='460', data-y='200', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='8000', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.08', data-endelementdelay='0.08', data-endspeed='300', style='z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;')
                      // LAYER NR. 9
                      .tp-caption.finewide_verysmall_white_mw.customin.customout.tp-resizeme(data-x='460', data-y='250', data-customin='x:0;y:50;z:0;rotationX:-120;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='900', data-start='8000', data-easing='Power3.easeInOut', data-splitin='lines', data-splitout='lines', data-elementdelay='0.2', data-endelementdelay='0.08', data-endspeed='300', style='z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;')
                          | Rumatec designs and builds Simple,
                          br
                          | Secure Web technologies for Business.
                          br
                          | Social, Web, and Mobile.
                  // SLIDE
                  li(data-transition='zoomout', data-slotamount='7', data-masterspeed='1000')
                      // MAIN IMAGE
                      img(src='/images/demo/revolution_slider/darkblurbg.jpg', alt='darkblurbg', data-bgposition='left top', data-bgfit='cover', data-bgrepeat='no-repeat')
                      // LAYERS
                      // LAYER NR. 1
                      .tp-caption.customin(data-x='474', data-y='189', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='800', data-easing='Power3.easeInOut', data-endspeed='300', style='z-index: 2')
                          img(src='/images/demo/revolution_slider/macbook2.png', alt='')
                      // LAYER NR. 2
                      .tp-caption.customin(data-x='245', data-y='92', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='500', data-easing='Power3.easeInOut', data-endspeed='300', style='z-index: 3')
                          img(src='/images/demo/revolution_slider/imac1.png', alt='')
                      // LAYER NR. 3
                      .tp-caption.customin(data-x='693', data-y='69', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='1300', data-easing='Power3.easeInOut', data-endspeed='300', style='z-index: 4')
                          img(src='/images/demo/revolution_slider/lupe_macbook.png', alt='')
                      // LAYER NR. 4
                      .tp-caption.customin(data-x='100', data-y='171', data-customin='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='1400', data-easing='Power3.easeInOut', data-endspeed='300', style='z-index: 5')
                          img(src='/images/demo/revolution_slider/lupe_imac.png', alt='')
                      // LAYER NR. 5
                      .tp-caption.medium_bg_asbestos.skewfromleft.customout(data-x='104', data-y='154', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='800', data-start='1500', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='on', style='z-index: 6')
                          | Web Development
                      // LAYER NR. 6
                      .tp-caption.medium_bg_red.skewfromright.customout(data-x='820', data-y='274', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='800', data-start='1700', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='on', style='z-index: 7')
                          | E-Commerce
                      // LAYER NR. 7
                      .tp-caption.medium_bg_orange.skewfromright.customout(data-x='800', data-y='314', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='800', data-start='1800', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='on', style='z-index: 8')
                          | Graphic Design
                      // LAYER NR. 8
                      .tp-caption.medium_bg_darkblue.skewfromleft.customout(data-x='132', data-y='114', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='800', data-start='1600', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='on', style='z-index: 9')
                          a(href='projects.html#crypto-currency') SEO / SEM
                      // LAYER NR. 9
                      .tp-caption.medium_bg_darkblue.skewfromleft.customout(data-x='192', data-y='194', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='800', data-start='1600', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='on', style='z-index: 9')
                          a(href='projects.html#crypto-currency') Social Media
                      // LAYER NR. 10
                      .tp-caption.large_bold_white.customin.customout(data-x='428', data-y='34', data-customin='x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='600', data-start='1100', data-easing='Back.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', style='z-index: 10')
                          | Services
                  //
                     SLIDE
                                            <li data-transition="zoomin" data-slotamount="7" data-masterspeed="600" >
                                                <!-- MAIN IMAGE
                                                <img src="/images/demo/revolution_slider/slidebg1.jpg"  alt="videobg1"  data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                                <!-- LAYERS
                                                <!-- LAYER NR. 1
                                                <div class="tp-caption medium_bg_darkblue sfr customout"
                                                    data-x="129"
                                                    data-y="88"
                                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="500"
                                                    data-start="1600"
                                                    data-easing="Power4.easeOut"
                                                    data-endspeed="500"
                                                    data-captionhidden="on"
                                                    style="z-index: 2">Manage Your Technology
                                                </div>
                                                <!-- LAYER NR. 2
                                                <div class="tp-caption medium_bg_red sfr customout"
                                                    data-x="160"
                                                    data-y="130"
                                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="500"
                                                    data-start="1700"
                                                    data-easing="Power4.easeOut"
                                                    data-endspeed="500"
                                                    data-captionhidden="on"
                                                    style="z-index: 3">Manage Your Security
                                                </div>
                                                <!-- LAYER NR. 3
                                                <div class="tp-caption medium_bg_red sfr customout"
                                                    data-x="160"
                                                    data-y="173"
                                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="500"
                                                    data-start="1800"
                                                    data-easing="Power4.easeOut"
                                                    data-endspeed="500"
                                                    data-captionhidden="on"
                                                    style="z-index: 4">Manage Your Website
                                                </div>
                                                <!-- LAYER NR. 4
                                                <div class="tp-caption medium_bg_darkblue sfr customout"
                                                    data-x="190"
                                                    data-y="277"
                                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="500"
                                                    data-start="1900"
                                                    data-easing="Power4.easeOut"
                                                    data-endspeed="500"
                                                    data-captionhidden="on"
                                                    style="z-index: 5">Cloud and Physical
                                                </div>
                                                <!-- LAYER NR. 5
                                                <div class="tp-caption medium_bg_orange sfr customout"
                                                    data-x="75"
                                                    data-y="357"
                                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="500"
                                                    data-start="2200"
                                                    data-easing="Power4.easeOut"
                                                    data-endspeed="500"
                                                    data-captionhidden="on"
                                                    style="z-index: 6">Secure. Seamless. Technology.
                                                </div>
                                                <!-- LAYER NR. 6
                                                <div class="tp-caption sft customout"
                                                    data-x="399"
                                                    data-y="385"
                                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="1000"
                                                    data-start="1500"
                                                    data-easing="Back.easeOut"
                                                    data-endspeed="500"
                                                    data-captionhidden="on"
                                                    style="z-index: 7"><img src="/images/demo/revolution_slider/videoshadow.png" alt="">
                                                </div>
                                                <!-- LAYER NR. 7
                                                <div class="tp-caption customin customout"
                                                    data-x="right" data-hoffset="-132"
                                                    data-y="center" data-voffset="0"
                                                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                    data-speed="600"
                                                    data-start="1000"
                                                    data-easing="Power4.easeOut"
                                                    data-endspeed="500"
                                                    data-endeasing="Power4.easeOut"
                                                    data-autoplay="false"
                                                    data-autoplayonlyfirsttime="false"
                                                    style="z-index: 8"><iframe src='http://player.vimeo.com/video/25076865?title=0&amp;byline=0&amp;portrait=0;api=1' width='640' height='360' style='width:640px;height:360px;'></iframe>
                                                </div>
                                            </li>
                                            <!-- SLIDE
                  li(data-transition='fade', data-slotamount='7', data-masterspeed='1500')
                      // MAIN IMAGE
                      img(src='/images/demo/revolution_slider/sliderbg.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
                      // LAYER NR. 1
                      .tp-caption.lightgrey_divider.skewfromrightshort.customout(data-x='85', data-y='224', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='1200', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', data-captionhidden='off', style='z-index: 2')
                      // LAYER NR. 2
                      .tp-caption.customin.customout(data-x='right', data-hoffset='-50', data-y='bottom', data-voffset='0', data-customin='x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='800', data-start='700', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 3')
                          img(src='/images/responsive-web.png', alt='')
                      // LAYER NR. 3
                      .tp-caption.large_bold_grey.skewfromrightshort.customout(data-x='80', data-y='66', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='800', data-easing='Back.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', data-captionhidden='off', style='z-index: 4')
                          | Modern
                      // LAYER NR. 4
                      .tp-caption.large_bold_grey.skewfromleftshort.customout(data-x='80', data-y='122', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='300', data-start='1100', data-easing='Back.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', data-captionhidden='off', style='z-index: 7')
                          | Websites
                      // LAYER NR. 5
                      .tp-caption.small_thin_grey.customin.customout(data-x='80', data-y='230', data-customin='x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='1300', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', data-captionhidden='off', style='z-index: 8')
                          | Rumatec&apos;s Web Development team has 200+ templates
                          br
                          | for you to choose from. Or have a website
                          br
                          | built from scratch!
                          a(href='#technologies') Read more...
                      // LAYER NR. 6
                      .tp-caption.large_bold_darkblue.skewfromleftshort.customout(data-x='80', data-hoffset='-90', data-y='350', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='1600', data-easing='Back.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', data-captionhidden='off', style='z-index: 10')
                          | 200+
                      // LAYER NR. 7
                      .tp-caption.medium_bg_darkblue.skewfromleftshort.customout(data-x='80', data-hoffset='-90', data-y='410', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='1650', data-easing='Back.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', data-captionhidden='off', style='z-index: 11')
                          | HTML5 Based
                      .tp-caption.medium_bold_orange.skewfromleftshort.customout.start.font300(data-x='230', data-hoffset='-90', data-y='370', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='1850', data-easing='Back.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', data-captionhidden='off', style='z-index: 13;')
                          | Fully
                          strong Responsive
                      // LAYER NR. 8
                      .tp-caption.medium_bg_orange.skewfromleftshort.customout(data-x='230', data-hoffset='-90', data-y='410', data-customout='x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;', data-speed='500', data-start='2300', data-easing='Back.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', data-captionhidden='off', style='z-index: 21')
                          | Web Site Templates
              .tp-bannertimer
      // /REVOLUTION SLIDER
      // WELCEOME
      section.container
          h1.text-center
              strong Welcome 
              | to Getch A Tech
              span.subtitle Your Maine Apple and PC Repair Specialist
          .divider
              // divider
              i.fa.fa-star
          p.lead.text-center
              | Getch A Tech is an Apple Certified Repair organization.
              br
              | No iPhone, iPad, Mac, Windows Laptop, or Desktop is beyond Getch A Tech
          hr
          // separator
          // FEATURED BOXES 4
          .row.featured-box-minimal.margin-bottom30
              .col-md-4
                  h4
                      i.fa.fa-mobile
                      | Mobile Devices
                  p
                      | Cracked Screen? Broken back? Wont turn on? Getch A Tech can repair all manner of failing Mobile Devices, from iOS to Android and Windows Mobile.
              .col-md-4
                  h4
                      i.fa.fa-windows
                      | Windows Laptops and Desktops
                  p
                      | Is your PC running slowly? Infected by Malware? Won't turn on? Bring it by so Getch A Tech can get it runnning again!
              .col-md-4
                  h4
                      i.fa.fa-apple
                      | Apple Mac Laptops and Desktops
                  p
                      | Macbook need a new display? iMac need more Ram? As an Apple Certified Repair center, Getch A Tech can take care of any of your Apple needs.
          // /FEATURED BOXES 4

      // /WELCOME
      // PARALLAX
      section.parallax.margin-top80(data-stellar-background-ratio='0.7', style='background-image: url("/images/repair.jpg");')
          span.overlay
          .container
              .row
                  // left content
                  .col-md-7.animation_fade_in
                      h2
                          | Getch A Tech 
                          strong Tools
                      p.lead
                          | State of the art repair tools and software enable Getch A Tech to handle even the most daunting of repairs.
                      p
                          | Not only repairs, but Getch A Tech even has access to Data recovery and Security specialists so getting data off of that ticking hard drive, or ensuring your computer is secure is not out of reach!
                      p
                          small
                              em
                                | Coming Soon - Getch A Tech Stores!
                                | Soon, you will be able to bring your technology to a Getch A Tech location and have a certified rep diagnoise and repair your device at one location!
                      a.btn.btn-primary.btn-lg(href='/contact') Get More Details!
                  // right image
                  .col-md-4.animation_fade_in
                      img.visible-md.visible-lg.img-responsive.pull-right(src='/images/getchatechman.png', alt='', width="300")
      // PARALLAX
      // SERVICES
      section.container.margin-top100
          // SERVICE 1
          .row.margin-top30
              // SERVICE 1
              .row
                  .col-md-12
                      h1.text-center(href='#technologies') Services
                      h2
                          strong PC 
                          | Repair
              .col-md-1.text-center
                  i.nomargin.featured-icon.half.fa.fa-windows
              .col-md-5
                  h3 Windows
                  p
                      | HTML5 is the backbone of Web 2.0, enabling plug-in-less video and audio, as well as providing enhanced functionality for web applications and powerful web sites. Give your customers exactly what they want!
              .col-md-1.text-center
                  i.nomargin.featured-icon.half.fa.fa-apple
              .col-md-5
                  h3 Mac
                  p
                      | Styles, animations, screen responsiveness and more! CSS3 allows us to build highly interactive websites without relying on Flash or Silverlight, and build responsive sites that work .
          .row
            .col-md-12
              h2
                strong Mobile 
                | Devices
          .row
              // SERVICE 1
              .col-md-1.text-center
                  i.nomargin.featured-icon.half.fa.fa-apple
              .col-md-5
                  h3 Apple
                  p
                      | Javascript enables advanced interaction, web gaming, and dynamically loaded information on your web site or in your web app. Give your customers the ability to start interacting with your company before picking up the phone.
              .col-md-1.text-center
                  i.nomargin.featured-icon.half.fa.fa-android
              .col-md-5
                  h3 Android
                  p
                      | NodeJS is a server platform built on Google Chrome Javascript runtime for building fast, scalable network applications. Lightweight and efficient, NodeJS is perfect for data-intensive real-time applications and secure Web Servers.
          .divider.half-margins
              // divider
              i.fa.fa-plus-circle


      // /WRAPPER
